# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


base/migrations/0001_initial.py